/* --------------- header --------------- */
.header-ma .caption {
  padding: 120px 0;
  position: relative; }
  .header-ma .caption h1 {
    width: 100%;
    font-size: 120px;
    line-height: 1.2; }
  .header-ma .caption .text {
    padding: 40px 40px 0 0;
    text-wrap: pretty; }
  .header-ma .caption .img {
    position: absolute;
    bottom: -80px;
    right: 0;
    width: 220px; }
    .header-ma .caption .img .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 80px; }

.header-ma .mimg {
  height: 600px;
  position: relative;
  overflow: hidden; }
  .header-ma .mimg .lg-text {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    -webkit-clip-path: url(#svgTextPath);
    clip-path: url(#svgTextPath);
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    -webkit-transform: translateX(30%) translateY(60%);
    -ms-transform: translateX(30%) translateY(60%);
    transform: translateX(30%) translateY(60%); }
    .header-ma .mimg .lg-text span {
      font-family: "Playfair Display", serif;
      font-style: italic; }
